name: Streamlined Releases

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
  pull_request:
    types:
      - closed

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run streamlined-release
        uses: loolzzz/streamlined-releases@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
